@font-face {
  font-family: 'Julia Mono';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    local("JuliaMono-Regular"),
    local("Julia Mono Regular"),
    url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}

@font-face {
  font-family: 'Julia Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local("JuliaMono-Medium"),
    local("Julia Mono Medium"),
    url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Medium.woff2");
}

@font-face {
  font-family: 'Julia Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("JuliaMono-Bold"),
    local("Julia Mono Bold"),
    url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Bold.woff2");
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  overflow-anchor: none;
  color: #2a1416;
  background-color: #f2f2f0;
  font-family: "Noto Sans", sans serif;
}

.uri, .email, code {
  font-family: "Julia Mono", monospace;
  font-feature-settings: "zero";
}

a.mastodon-verif {
  display: none;
}

h1, h2 {font-family: "Julia Mono", monospace}
h1 {font-weight: 700}
h2 {font-weight: 700; font-size: 1.2em}

a {
  text-decoration: none;
  border-radius: 3px;
  padding: 2px 3px;
  color: #2a1416;
  background-color: #e3e3de;
  overflow-wrap: break-word;
}

a:hover {
  background-color: #d9d9d3;
}

body > section {
  margin: 0;
  padding: 2ex 30% 4ex 30%;
  line-height: 1.5em;
  background-color: #f2f2f0;
}

body > section, body > footer {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px -5px inset;
}

section.level2 + section.level2 {
  margin-top: 3.5ex;
}

section ul, section ol {
  padding-left: 3ex;
}

section li::marker {
  font-size: 1.6em;
}

section li > p {
  display: inline;
}

section li + li {
  margin-top: 1.5ex;
}

section li > em:first-of-type,
section li > p > em:first-of-type {
  position: relative;
  bottom: 3px;
  font-weight: 500;
  font-style: normal;
}

section li > em:first-of-type::after,
section li > p > em:first-of-type::after {
  content: '\000A';
  white-space: pre;
}

/*
** Header
*/
body > header {
  background-image: url(img/header-alt.jpg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  --header-padding-top: 7ex;
  padding-top: var(--header-padding-top);
  height: calc(1157px - var(--header-padding-top));
}

h1.title {
  margin: 0 0 0 27.3%;
  font-size: 3.3em;
  width: 450px;
  max-width: 450px;
  font-weight: normal;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
}


/*
** About
*/
section#about {
  position: absolute;
  top: 20ex;
  width: 450px;
  max-width: 450px;
  margin-left: 27.3%;
  padding: 1.5ex 0.9em;
  background-color: #f2f2f066;
  /* box-shadow: rgba(0, 0, 0, 0.2) 4px 5px 5px 0px; */
  box-shadow: none;
  border-radius: 3px;
  line-height: 1.7em;
}

section#about p:first-of-type::first-letter {
  font-size: 6em;
  line-height: 1.2ex;
  margin-top: 6px;
  margin-right: 6px;
  float: left;
}

section#about h1 {
  display: none;
}

section#about p {
  margin: 0
}

section#about p + p {
  margin-top: 1.5ex;
}

section#about a {background-color: #e3e3deaa}
section#about a:hover {background-color: #d9d9d3aa}

/*
** Contact
*/
section#contact {
  background-color: #722036;
  color: #f2f2f0;
}

section#contact a {background-color: #9f2d4b; color: #f2f2f0}
section#contact a:hover {background-color: #af3153}

section#contact ul {
  padding-left: 0;
  list-style-type: none;
}

section#contact ul li + li {
  margin-top: 1ex;
}

/*
** Talks
*/
section#talks {background-color: #3ab2e2}
section#talks a {background-color: #44bdec}
section#talks a:hover {background-color: #52cafa}

section#talks li p {
  margin: 0;
}

section#talks li details {
  display: inline-block;
}

section#talks li details[open] {
  margin-top: 1ex;
}

section#talks li details[open] + p {
  display: inline-block;
  margin-top: 1ex;
}

section#talks li details p {
  font-style: italic;
  margin: 0 0 0 1.2ex;
}

section#talks li details p + p {
  margin-top: 1.5ex;
}

section#talks li details summary {
  cursor: pointer;
  display: inline;
  background-color: #44bdec;
  border-radius: 3px;
  padding: 2px 3px;
}

section#talks li details summary:hover {
  background-color: #52cafa
}

section#talks li details summary::marker {
  content: "";
  display: none;
}

section#talks li details summary p {
  display: inline;
  font-style: normal;
  margin: 0;
  padding: 0;
}

section#talks li details summary + p {
  margin-top: 0.5ex;
}

section#talks li details summary p::after {content: ": \2026"}
section#talks li details[open] summary p::after {content: ":"}

/*
** Teaching
*/
section#teaching {
  background-color: #e9bebb;
  color: #2a1416;
}

section#teaching a {
  background-color: #e6b5b2;
}

section#teaching a:hover {
  background-color: #e1a7a3;
}

/*
** Previous Work & Research
*/
section#previous-work-research {
  background-color: #f2bb16;
}

section#previous-work-research a {background-color: #ffcf3f}
section#previous-work-research a:hover {background-color: #ffda6a}

/*
** Formal Education
*/
section#formal-education {
  background-color: #401d1d;
  color: #f2f2f0;
}

/*
** Date-based lists
*/
section#teaching > ul,
section#organization-service > ul,
section#previous-work-research > ul,
section#formal-education > ul {
  padding: 0;
  position: relative;
  top: -3px;
  list-style-type: none;
}

section#teaching > ul > li,
section#organization-service > ul > li,
section#previous-work-research > ul > li,
section#formal-education > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: first baseline;
  font-weight: 500;
  font-size: 0.9rem;
  white-space: nowrap;
  column-gap: 1.5em;
}

section#teaching > ul > li > ul,
section#organization-service > ul > li > ul,
section#previous-work-research > ul > li > ul,
section#formal-education > ul > li > ul {
  list-style-type: disc;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  width: calc(100% - 3ex);
  min-width: calc(100% - 3ex);
  position: relative;
  top: 3px;
  white-space: normal;
}

section#teaching > ul > li > ul p,
section#organization-service > ul > li > ul p,
section#previous-work-research > ul > li > ul p,
section#formal-education > ul > li > ul p {
  display: block;
  margin: 0;
}

section#previous-work-research > ul > li + li,
section#formal-education > ul > li + li {
  margin-top: 1.8ex;
}

section#previous-work-research > ul > li > ul p + p,
section#formal-education > ul > li > ul p + p {
  margin-top: 1ex;
}

/*
** Footer
*/
body > footer {
  padding: 12em 0 3em 0;
  text-align: center;
  vertical-align: middle;
  font-size: 0.85em;
}

body > footer p {
  margin: 0;
  padding: 0;
}

body > footer a {
  padding: 0;
  background-color: #f2f2f0;
  border-bottom: 1px dotted #2a1416;
  border-radius: 0;
}

body > footer a:hover {
  background-color: #f2f2f0;
  border-bottom: 1px solid #2a1416;
}

body > footer a.has-img {
  border-bottom: none;
}

body > footer a img {
  display: inline;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}

body > footer p + p {
  margin-top: 2px;
}

/*
** Responsive
*/
@media screen and (max-width: 1720px) {
  body > section {padding: 2ex 25% 4ex 25%}
  h1.title {margin: 0 0 0 30%}
  body > section#about {margin-left: 30%}
}
@media screen and (max-width: 1540px) {
  body > section {padding: 2ex 20% 4ex 20%}
  body > section#about {background-color: #f2f2f0cc}
  section#about a {background-color: #e3e3deee}
  section#about a:hover {background-color: #d9d9d3ee}
}
@media screen and (max-width: 1190px) {
  body > section {padding: 2ex 15% 4ex 15%}
  body > header {
    --header-padding-top: 10ex;
    height: 800px;
  }
  h1.title {
    margin-left: 25%;
    text-shadow:
      rgba(0, 0, 0, 0.3) 2px 2px 5px,
      rgba(255, 255, 255, 0.6) 0px -3px,
      rgba(255, 255, 255, 0.6) 0px 3px,
      rgba(255, 255, 255, 0.6) -3px 0px,
      rgba(255, 255, 255, 0.6) 3px 0px,
      rgba(255, 255, 255, 0.6) -3px -3px,
      rgba(255, 255, 255, 0.6) -3px 3px,
      rgba(255, 255, 255, 0.6) 3px -3px,
      rgba(255, 255, 255, 0.6) 3px 3px;
  }
  body > section#about {
    top: 24ex;
    margin-left: 25%;
  }
  body > section#about a {border: 1px solid #2a141622}
  section#teaching > ul > li,
  section#organization-service > ul > li,
  section#previous-work-research > ul > li,
  section#formal-education > ul > li {
    flex-direction: column;
    font-size: 0.95em;
    row-gap: 4px;
  }
}
@media screen and (max-width: 820px) {
  body > section {padding: 2ex 4ex 4ex 4ex}
  h1.title {
    width: auto;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
  }
  body > section#about {
    top: 27ex;
    width: auto;
    max-width: none;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #f2f2f0dd;
  }
@media screen and (max-width: 440px) {
  body > header {--header-padding-top: 6ex}
  body > section#about {top: 19ex}
}
@media screen and (max-width: 430px) {
  body > header {height: 820px}
}
@media screen and (max-width: 396px) {
  body > header {height: 760px}
  body > section#about {
    top: 23ex;
    margin-left: 12px;
    margin-right: 12px;
  }
  body > section {
    padding-left: 3ex;
    padding-right: 3ex;
  }
}
@media screen and (max-width: 378px) {body > header {height: 800px}}
@media screen and (max-width: 372px) {body > header {height: 850px}}
@media screen and (max-width: 340px) {body > header {height: 900px}}
@media screen and (max-width: 305px) {body > header {height: 950px}}
@media screen and (max-width: 294px) {body > header {height: 1000px}}
@media screen and (max-width: 280px) {body > header {height: 1050px}}
}