body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: Roboto, sans-serif;
}

#container {
  margin: 0 auto 0 auto;
  max-width: 43.5em;
  padding: 1em 0.5em 2em 0.5em;
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  color: #263543;
}

#content {
  line-height: 1.5em;
}

section {
  margin-bottom: 2.5em;
}

a {
  color: #263543;
  text-decoration: none;
  border-bottom: 1px solid #263543;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

h1, h2 {
  font-weight: 00;
  font-family: "Libre Baskerville", serif;
}

#about h1 {
  font-size: 2em;
}

.emaildomain:before {
  content: "@"
}

nav {
  margin-right: 3em;
  position: sticky;
  top: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
}

ul#nav {
  list-style: none;
  margin-bottom: 0.5em;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.5em;
}

ul#nav li {
  margin-bottom: 0.5em;
}

ul#nav li a {
  padding: 0 5px 0 5px;
  border: none;
  color: #efefef;
  background-color: #263543;
}

ul#contact {
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

ul#contact li {
  margin: 0 4px 0 4px;
  font-size: 20px;
  text-align: center;
  list-style-type: none;
}

ul#contact li a {
  border: 0;
  color: #263543;
  background: none;
}

img#portrait {
  float: right;
  margin-left: 1em;
  margin-right: 1em;
  width: 128px;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0px #ccc;
  vertical-align: top;
}

#events ul {
  padding-left: 1.2em;
  list-style: disc;
}

#events ul li {
  margin-bottom: 0.2em;
}

/* Shadow effect */
a, .hvr-shadow {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow {
  vertical-align: middle;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active, a:hover, a:focus {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.rshow {
  display: none;
}

@media screen and (max-width: 920px) {
#container {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

nav {
  margin: 1.5em 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  top: 0;
  bottom: 0;
}

ul#nav {
  margin-top: 0;
  align-items: flex-start;
  font-size: 14px;
}

ul#nav li a {
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 18px;
  text-align: center;
}

ul#contact {
  flex-direction: column;
}

ul#contact li {
  margin-bottom: 5px;
}

section {
  margin: 0;
  padding-bottom: 0.5em;
}

#about h1 {
  line-height: 1em;
}

#events ul {
  list-style: none;
  padding-left: 0.5em;
}

#events ul li {
  margin-bottom: 0.5em;
}

#events ul li a {
  display: inline;
}

.rhide {
  display: none;
}

.rshow {
  display: initial;
}
}

