body {
    margin: 0;
    padding: 0;
    
    background-color: #fff;
    
    line-height: 1.25em;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

a {
    color: #9c0d38;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tt {
    font-family: monospace;
}

i.fa {
    margin-left: 1em;
    margin-right: 1em;
}

div#main {    
    /* display */
    display: flex;
    align-items: flex-start;

    /* fonts */
    font-size: 16px;
    font-weight: 400;
    color: #0b132b;
}

@media screen and (min-width: 1201px) {
div#main {
    /* dimensions */
    max-width: 1000px;

    /* layout */
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (min-width: 721px) and (max-width: 1200px) {
div#main {
    /* layout */
    margin-left: 7%;
    margin-right: 7%;
}
}

@media screen and (max-width: 720px) {
div#main {
    /* display */
    flex-direction: column;

    /* layout */
    margin-left: 2em;
    margin-right: 2em;
}
}

@media screen and (max-width: 600px) {
div#main {
    margin-left: 0;
    margin-right: 0;
}
}

div#main strong {
    font-weight: 700;
}

div#content {
    /* layout */
    flex: 1;
    padding-top: 2em;

    /* dimensions */
    width: 100%;

    /* animation */
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
}

@media screen and (max-width: 720px) {
div#content {
    padding-top: 0;
}
}

div#sidebar {
    /* layout */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex: 0 0 10em;
    padding-top: 2em;
    padding-right: 4.5em;

    /* style */
    background-color: #fff;
}

@media screen and (min-width: 721px) and (max-width: 1200px) {
div#sidebar {
    /* layout */
    padding-right: 3.5em;
}
}

section#portrait img {
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 1px 1px #ccc;

    /* transitions */
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 721px) {
section#portrait {
    /* layout */
    margin-bottom: 1em;

    /* text and font */
    text-align: center;
}
section#portrait img {
    width: 10em;
}
}

@media screen and (max-width: 720px) {
div#sidebar {
    /* display */
    display: flex;
    position: relative;
    flex: 0 1 auto;

    /* layout */
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    padding-right: 0;

    /* dimensions */
    width: 100%;
}
section#portrait img {
    width: 4em;
    border-width: 0.2em;
}
}

@media screen and (max-width: 600px) {
section#portrait {
    margin-left: 1.5em;
}
section#portrait img {
    width: 2.5em;
    border-width: 0;
}
}

section#desc h1 {
    /* text and font */
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
}

section#desc p, ul {
    /* text and font */
    text-align: left;
    font-size: 0.9em;
}

section#desc ul {
    padding-left: 0;
}

section#desc li {
    margin-left: 0;
    margin-bottom: 0.5em;
    padding-left: 0;
    list-style-type: none;
}

section#desc li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;

    text-align: center;
    font-family: "Font Awesome 5 Brands", "Font Awesome 5 Free";
}

li.location:before {
    content: "\f3c5";
    font-weight: 900;
}

li.github:before {
    content: "\f09b";
    font-weight: 400;
}

li.twitter:before {
    content: "\f099";
    font-weight: 400;
}

li.mastodon:before {
    content: "\f4f6";
    font-weight: 400;
}

li.linkedin:before {
    content: "\f0e1";
    font-weight: 400;
}

li.email:before {
    content: "\f0e0";
    font-weight: 900;
}

@media screen and (max-width: 720px) {
section#desc {
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
}
section#desc h1 {
    margin: 0;
    text-align: left;
    font-size: 1.6em;
}
section#desc ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
section#desc li {
    margin-bottom: 0;
    margin-right: 0.75em;
}
section#desc li:before {
    padding-right: 0.2em;
}
}

@media screen and (max-width: 600px) {
section#desc {
    margin-right: 1.5em;
}
section#desc p {
    margin-bottom: 0;
}
section#desc ul {
    display: none;
}
}

div#content nav {
    /* display */
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    z-index: 1;

    /* layout */
    padding-top: 1.25em;

    /* style */
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 3px 4px -4px #ccc;

    /* transitions */
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

div#content nav a {
    /* display */
    position: relative;

    /* text and font */
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    color: #0b132b;

    /* layout and border */
    padding-bottom: 0.6em;
}

div#content nav a + a {
    margin-left: 1.5em;
}

div#content nav a:after {
    content: "";
    width: 0;
    height: 0.2em;
    position: absolute;
    left: 0;
    bottom: 0;
    
    background-color: #0b132b;
    opacity: 0;

    /* transitions */
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

div#content nav a:hover:after {
    width: 100%;
    opacity: 1;
}

div#content nav a#currentpage {
    font-weight: 500;
}

div#content nav a#currentpage:after {
    width: 100%;
    opacity: 1;
}

@media screen and (max-width: 720px) {
div#content nav {
    top: 0;
}
}

@media screen and (max-width: 600px) {
div#content nav {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
}

section.maintext {
    /* layout */
    position: relative;
    padding-top: 0.5em;

    /* text */
    line-height: 1.75em;
}

section.maintext:after {
    content: "Hand-coded with \2665  2018 Joshua Chen";
    position: absolute;
    bottom: -7em;
    height: 3em;
    width: 100%;

    font-size: 0.75em;
    text-align: right;

    border-top: 1px solid #ccc;
    box-shadow: 0 -3px 4px -4px #ccc;
}

section.maintext h1, h2 {
    font-weight: 500;
}

section.maintext h1 {
    font-size: 1.6em;
}

section.maintext h2 {
    font-size: 1.2em;
}

section.maintext h1 + h2 {
    margin-top: 0;
}

section.maintext p {
    margin-top: 0;
}

section.maintext p + h1 {
    margin-top: 2em;
}

section.maintext p + h2 {
    margin-top: 2em;
}

@media screen and (max-width: 720px) {
section.maintext:after {
    text-align: center;
}
}

@media screen and (max-width: 600px) {
section.maintext {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
section.maintext:after {
    left: 0;
}
}

section#cv {
    line-height: 1.5em;
    font-family: "Libre Baskerville", serif;
    font-size: 14px;
}

section#cv > * {
    margin-left: 1em;
}

section#cv h1, section#cv h2 {
    margin-left: 0;
    font-weight: 700;
}

section#cv h2 {
    font-variant: small-caps;
}

section#cv p.item {
    margin-bottom: 0;
}

section#cv p + p.item {
    margin-top: 2.5em;
}

section#cv p.item + p {
    margin-top: 0.5em;
    margin-bottom: 0;
}

section#cv p.item + p.item {
    margin-top: 2.5em;
}

section#cv .centered {
    display: inline-block;
    width: 100%;
    text-align: center;
}

section#cv .smallcaps {
    font-variant: small-caps;
}

section#cv .underline {
    display: inline-block;
    border-bottom: 1px solid #0b132b;
}

section#cv .spread {
    display: flex;
    justify-content: space-between;
}

section#cv .itemheading {
    flex: 2;
}

section#cv .itemdetail {
    flex: 1;
    text-align: right;
}

section#cv .comma:before {
    display: none;
    position: relative;
    content: ", ";
}

@media screen and (max-width: 1080px) {
section#cv .spread {
    flex-direction: column;
    justify-content: flex-start;
}
section#cv .keeprowspread {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
section#cv .keeprowspread > .itemdetail {
    text-align: right;
}
section#cv .itemdetail {
    padding-top: 0.5em;
    text-align: left;
}
section#cv .itemdetail .comma > br {
    display: none;
}
section#cv .comma:before {
    display: inline;
}
}

ul.contact {
    padding: 0.5em;
    font-size: 1em;
}

ul.contact li {
    margin-left: 0;
    margin-bottom: 1em;
    padding-left: 0;
    list-style-type: none;
}

ul.contact li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.75em;

    font-family: "Font Awesome 5 Brands", "Font Awesome 5 Free";
    font-size: 1.25em;
    text-align: center;
}

span.at:before {
    content: "@";
    position: relative;
}

span.dot:before {
    content: ".";
    position: relative;
}
