body {
    margin: auto;
    padding-top: 1em;
    max-width: 40em;
    display: flex;
    background-color: #efefef;
    line-height: 1.5em;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #263543;
}

h1 {
    font-weight: 700;
}

a {
    color: #6147cc;
    text-decoration: none;
    border: 1px solid #efefef;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px;
    border-radius: 2px;
}

a:hover {
    text-decoration: none;
    border: 1px solid;
}

img#portrait {
    margin: 1em 0 1em 0;
    width: 8em;
    border-radius: 50%;
    border: 0px solid #efefef;
    box-shadow: 0 0 6px 2px #ccc;
}
