body {
  background-color: #f6f6f6;
  color: #1f3a44;
  font-size: 16px;
  font-family: "Fira Mono", monospace;
}
strong {
  font-weight: 700;
}

#main {
  text-align: justify;
  background-color: #ffffff;
  margin: 2em auto;
  padding: 3.4em 6.4em 0.75em 6.4em;
  box-shadow: 0px 1px 3px 0px #a0a0a0;
  border-radius: 4px;
  line-height: 1.4em;
}
#main a, #main a:visited {
  color: #1f3a44;
  text-decoration: none;
  border-bottom: 2px #1f3a44 groove;
}
#main a:hover {
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
#main ul {
  text-align: left;
  padding-left: 2em;
}

#portrait {
  text-align: center;
  margin-top: 0.5em;
}
#portrait img {
  width: 12em;
  border-radius: 50%;
  border: 1px solid #f6f6f6;
  box-shadow: 0 0 3px 1px #a0a0a0;
}

#heading {
  text-align: center;
  font-weight: 400;
  font-size: 1.6em;
}

#about {
  text-indent: 1.5em;
}

#work, #play, #links {
  padding-top: 1em;
}

ul#list li {
  margin-bottom: 0.2em;
}

#social {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 4em;
}
#social a, #social a:hover {
  border: 0;
}
#social span {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

#main p:before {
  font-family: "FontAwesome";
  display: block;
  position: relative;
  width: 0;
  left: -1.6em;
  top: 1.4em;
}
#work:before {
  content: "\f02d";
}
#play:before {
  content: "\f0f4";
}
#links:before {
  content: "\f0ac";
}

@media screen and (min-width: 601px) {
#main {
  max-width: 32em;
}
.content-normal {
  display: inline;
}
.content-small {
  display: none;
}
}

/* Smaller screens */

@media screen and (max-width: 600px) {
.content-normal {
  display: none;
}
.content-small {
  display: inline;
}

#main {
  text-align: left;
  margin: 0;
  padding: 2.4em 2em 0.5em 2em;
  font-size: 1.2em;
}
#main ul {
  padding-left: 1em;
}

#portrait img {
  width: 50%;
  min-width: 160px;
  max-width: 200px;
}

#heading {
  text-align: center;
  font-weight: 400;
  font-size: 1.6em;
}

#about {
  text-indent: 0;
  text-align: left;
}

#social {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 4em;
}
#social a, #social a:hover {
  border: 0;
}
#social span {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

#footer {
  text-align: center;
  font-size: 0.7em;
}

#main p:before {
  font-family: "FontAwesome";
  display: inline;
  position: relative;
  width: 0;
  left: 0;
  top: 0;
}
#work:before {
  content: "\f02d";
}
#play:before {
  content: "\f0f4";
}
#links:before {
  content: "\f0ac";
}
}
