/******************************************************************************
Fonts
******************************************************************************/

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Atkinson-Hyperlegible-400.woff2) format('woff2'),
       url(../fonts/Atkinson-Hyperlegible-400.woff)  format('woff')
}
@font-face {
  font-family: 'Atkinson-Hyperlegible';
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/Atkinson-Hyperlegible-400i.woff2) format('woff2'),
       url(../fonts/Atkinson-Hyperlegible-400i.woff)  format('woff')
}
@font-face {
  font-family: 'Atkinson-Hyperlegible';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/Atkinson-Hyperlegible-700.woff2) format('woff2'),
       url(../fonts/Atkinson-Hyperlegible-700.woff)  format('woff')
}
@font-face {
  font-family: 'Atkinson-Hyperlegible';
  font-style: italic;
  font-weight: bold;
  src: url(../fonts/Atkinson-Hyperlegible-700i.woff2) format('woff2'),
       url(../fonts/Atkinson-Hyperlegible-700i.woff)  format('woff')
}


/******************************************************************************
Colors
******************************************************************************/

:root {
  --font-color: #263543;
  --bg-color: #fff;
  --color1: #ffdc00;
  --color2: #164fd1;
  --color3: #00a6fb;
  --color4: #47a8bd;
  --attn-color: #c2095a;
  --darken-color: #12121266;
  --lighten-color: #ffffff33;
}


/******************************************************************************
Top-level defaults
******************************************************************************/

html {
  height: 100%;
  width: 100%
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;

  display: flex;
  flex-direction: row;

  font-family: "Atkinson-Hyperlegible", sans-serif;
  font-size: 20px;
  color: var(--font-color);

  background-color: var(--bg-color)
}

a {
  text-decoration: none;
  transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s
}

body h1, h2 {font-family: "Libre Baskerville", serif}

code, pre {
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
}

ol, ul {
  list-style: none;
  padding-left: 6ex
}

ol li::before,
ul li::before {
  position: relative;
  left: -4ex;
  width: 0;
  float: left
}

ol li + li,
ul li + li {
  margin-top: 0.2em;
}


/******************************************************************************
"Header" sidebar
******************************************************************************/

header {
  min-width: 16.67%;
  padding-right: 8ex
}

header h1 {
  position: relative;
  margin-left: 33%;
  font-size: 1.8em;
  padding-top: 0;
  margin-top: 2rem;
}

nav {
  position: relative;
  margin-left: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

nav a {
  text-transform: uppercase;
  color: var(--color2);
  padding: 2px 4px 0px 4px
}

nav a:hover,
nav a:focus,
nav a:active {
  color: var(--bg-color);
  background-color: var(--color2);
  border-radius: 2px;
  transform: scale(1.05);
  box-shadow: 2px 2px 4px var(--darken-color)
}

nav a + a {margin-top: 4px}


/******************************************************************************
Main content
******************************************************************************/

main {
  max-width: 42em;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 2ex;
  padding-bottom: 4em;
  line-height: 1.5em
}

main a {
  color: var(--font-color);
  box-shadow: 0px 3px 4px -4px var(--darken-color)
}

main a:hover,
main a:focus,
main a:active {
  border-radius: 2px;
  box-shadow: 2px 2px 4px var(--darken-color)
}

main section h1 {font-size: 1.1em}

main section h2 {
  font-size: 0.9em;
  margin-left: 2ex;
}

main section + section {margin-top: 2em}

main section#about ul {
  padding-top: 0;
  margin-top: 2.5rem;
  margin-bottom: 1.5em;
}

main section#about ul li::before {left: -4.5ex}
main section#about ul li#email::before {
  content: "\f2b6";
  font-family: "Font Awesome 5 Free"
}
main section#about ul li#orcid::before {
  content: "\f8d2";
  font-family: "Font Awesome 5 Brands"
}
main section#about ul li#github::before {
  content: "\f113";
  font-family: "Font Awesome 5 Brands"
}

main section#research ol.work {counter-reset: paperNum 5}

main section#research ol.work li::before {
  counter-increment: paperNum -1;
  content: counter(paperNum);
}

main section#events ul li::before {
  font-family: 'Noto Sans Symbols 2', sans-serif;
  content: "🙢"
}
main section#events ul li.past::before {content: "🙡"}


/******************************************************************************
List styling
******************************************************************************/

ol li.detail > span + span::before,
ul li.detail > span + span::before,
ol li .detail > span + span::before,
ul li .detail > span + span::before {
  content: "•";
  margin-left: 0.5ex;
  margin-right: 1ex;
}

/*** "Work" (publications, workshop writing etc.) lists ***/

ol.work li + li {margin-top: 0.5em}

ol.work li::before {font-weight: bold}

ol.work li details {
  display: inline;
  box-shadow: 0px 3px 4px -4px var(--darken-color)
}

ol.work li details summary {
  list-style: none;
  cursor: pointer;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 0.95em;
  transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s
}
ol.work li details summary::-webkit-details-marker {display: none}

ol.work li details summary:hover {
  border-radius: 2px;
  box-shadow: 2px 2px 4px var(--darken-color)
}

ol.work li details[open] {
  margin-bottom: 0.5em;
  padding: 0 1.5ex 0.5em 0;
  border-radius: 4px;
  box-shadow: 2px 4px 8px -5px var(--darken-color);
}

ol.work li details[open] summary:hover {box-shadow: none}

ol.work li details div.detail {
  font-size: 0.9em;
  margin-left: 0.5ex;
}

ol.work li details summary + div.detail {
  margin-top: 0.4em;
}

ol.work li details div.detail + div.detail {
  margin-top: 0.25em;
}

ol.work li div.detail .tag {
  position: relative;
  bottom: 1px;
  font-size: 0.9em
}

ol.work li div.detail .tag + span::before {
  content: "";
  margin-right: 0;
}

ol.work li div.detail .tag + span.coauthor::before {content: "with "}

ol.work li div.detail.link {display: inline-block}
ol.work li div.detail.github {display: inline-block}

ol.work li div.detail.link + div.detail.github {margin-left: 1.5ex}

ol.work li div.detail.link span:first-of-type::before {
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 1ex
}

ol.work li div.detail.github span:first-of-type::before {
  content: "\f09b";
  font-family: "Font Awesome 5 Brands";
  margin-right: 1ex
}


/******************************************************************************
Misc. specific styling
******************************************************************************/

.tag {
  padding: 3px 4px;
  border-radius: 4px;
  color: var(--bg-color);
  background-color: var(--font-color);
  vertical-align: middle;
  box-shadow: 0px 3px 4px -4px var(--darken-color)
}
p .tag {
  font-size: 0.75em;
  position: relative;
  bottom: 2px;
}

.tag.research {background-color: var(--color2)}
.tag.abstract {background-color: var(--color4)}
.tag.thesis   {background-color: var(--darken-color);}

.detail.past {color: var(--darken-color)}
.detail.past a {color: var(--darken-color)}

.at::before {content: "@"}

.less {display: none}
.more {display: inline}
#togglemoreless:hover {cursor: pointer}


/******************************************************************************
Responsive
******************************************************************************/

.show-on-responsive {display: none}

@media screen and (max-width: 960px) {
  body {flex-direction: column}
  ol, ul {padding-left: 5ex}
  header, main {padding-left: 3ex}
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 5ex;
  }
  header h1 {margin-left: 0}
  nav {
    margin-left: 0;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: left
  }
  nav a {margin-right: 1ex}
  main section#about ul {margin-top: 0.2rem}
  main section#about ul li::before {left: -4ex}
}

@media screen and (max-width: 800px) {
  .show-on-responsive {display: inline}
  .hide-on-responsive {display: none}
  header {padding-right: 2ex}
  header h1 {padding-right: 2ex}
  main {padding-left: 2ex}
  main section#about ul li::before {left: -3.5ex}
  ol.work li div.detail.github {display: block}
  ol.work li div.detail.link + div.detail.github {margin-left: 0.5ex}
}
